{% extends "base.html" %}
{% block title %}Posted{% endblock %}

{% block page_content %}
    <!--Started Article-->
<article class="media content-section">
    <!--User profile image-->
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'
+ post.author.profile) }}" alt="Profile">
    <div class="media-body">
        <div class="article-metadata">
            <!--users.user_posts or username as author-->
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{
                post.author.username }}</a>
            <small class="text-muted">{{ post.published.strftime('%Y-%m-%d') }}</small>
            {% if post.author == current_user %}
            <div>
                <!--USER can update posts and delete-->
                <a class="btn btn-info btn-sm mt-1 mb-1"
                    href="{{ url_for('posts.update_posts', post_id=post.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                    data-target="#deleteModal">Delete</button>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
    <!--End Article-->

<!-- Modal for Delete posts-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <br><br>
                <form action="{{ url_for('posts.delete_posts', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}